<ul class="coordinateGroup">
    <li>
        <label for="">DD</label>
        <input type="text" value="{{coordinateDD}}" readonly>
    </li>
    <li>
        <label for="">DM</label>
        <input type="text" value="{{coordinateDM}}" readonly>
    </li>
    <li>
        <label for="">DMS</label>
        <input type="text" value="{{coordinateDMS}}" readonly>
    </li>
    <li>
        <label for="">MGRS</label>
        <input type="text" value="{{coordinateMGRS}}" readonly>
    </li>
    <li>
        <label for="">UTM</label>
        <input type="text" value="{{coordinateUTM}}" readonly>
    </li>
    <li class="btns">
        <button type="button" class="btnTextF move" title="이동">이동</button>
        <button type="button" class="btnText copy" title="전체복사">전체복사</button>
        <button type="button" class="btnText note" title="맵노트">지점등록</button>
        <button type="button" class="btnText delete" title="삭제">삭제</button>
    </li>
</ul>